{{ template "header.gohtml" .}}
<br>
<div class="container jumbotron">
    <h5> Unfortunately I don't know what to put in my home page :|</h5>
    <h5> So just see other pages and joy! (if you can) lol</h5>
</div>
{{ template "footer.gohtml" .}}