<div class="topnav">
  <a {{ if eq .Title "Reza Shoja"}} class="active" {{ end }} href="/">Home</a>
  <a {{ if eq .Title "Tutorials"}} class="active" {{ end }} href="/tutorials">Tutorials</a>
    <a {{ if eq .Title "Projects"}} class="active" {{ end }} href="/projects">Projects</a>
    <a {{ if eq .Title "About"}} class="active" {{ end }} href="/about">About Me</a>
    <a {{ if eq .Title "Contact"}} class="active" {{ end }} href="/contact">Contact Me</a>
</div>